@import "tailwindcss";

:root {
  --color-primary: #1D9E75;
  --color-primary-dark: #157a5c;
  --color-primary-light: #e8f7f1;
}

body {
  background-color: #f8fafc;
  color: #111827;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
